<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API TestSuite" thread-count="5" >
    <listeners>
        <listener class-name="utils.ExtentReporter"/>
    </listeners>
    <test  name="Products API Tests">
        <classes>
            <class name="testCases.TC001_ProductAPI"/>
        </classes>
    </test>
    <test  name="Products DataDriven API Tests">
        <classes>
            <class name="testCases.TC002_ProductDataDrivenTest"/>
        </classes>
    </test>
    <test  name="Users API Test">
        <classes>
            <class name="testCases.TC003_UserAPI"/>
        </classes>
    </test>
    <test  name="Cart API Test">
        <classes>
            <class name="testCases.TC004_CartAPI"/>
        </classes>
    </test>
    <test  name="Login Test">
        <classes>
            <class name="testCases.TC005_AuthLogin"/>
        </classes>
    </test>
</suite>
